@import "./color";

@mixin flex($space, $wrap, $direction) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: wrap;
  align-items: center;
  justify-content: $space;
}
.paper {
  @include flex(none, wrap, column);
  margin-top: 32%;
}
#avatar {
  background-color: $primary-color;
}
.MuiButton-label {
  color: #fff;
  z-index: 2;
}
#btn-submit {
  background-color: $primary-color;
  padding: 1rem;
}
.message {
  padding: 2rem;
  width: 83%;
  font-size: 1rem;
  outline-color: #e7e6e6;
}

.css-17vbkzs-MuiFormControl-root-MuiTextField-root {
  background-color: #fff;
}
