.work-image:hover {
  opacity: 0.8;
  transform: scale(1.15);
  transition: transform 0.5s ease-in-out, opacity 0.2s;
  overflow: hidden;
  height: 100%;
  z-index: 2;
}

.work-image {
  width: 100%;
  height: 100%;
  opacity: 1;
  transform: scale(1.03);
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.work-grid:hover .work-image {
  opacity: 0.3;
}

.work-grid:hover .work-title {
  opacity: 1;
}
.title {
  color: white;
  font-size: 20px;
  padding: 20px 32px;
}
.title a {
  text-decoration: none;
  color: #fff;
}
.work-grid {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000000;
  position: relative;
  margin: 10%;
}
.work-title {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 25%;

  transform: translate(-50%, -50%);

  text-align: center;
}
.portfolio {
  margin: 8% 0 0 17%;
  width: 60%;
  height: 80%;
  color: #0000003f;
}

.portfolio-header {
  font-size: 3rem;
  color: #b34167;
  margin: -5% 0 5% 0;
}
