
html,body{
  background-color: #000000; 
 color:rgba(255, 255, 255, 0.842);
box-sizing:border-box;
position: relative;
font-family: 'Lato', sans-serif;
overflow-x:hidden;
line-height: 1.5;
}

.App {
 text-align: center;
  width:100vw;
   height:100vh; 
  margin:0 auto;
  overflow-y: auto;
  overflow-x:hidden;
}
  #root{
    position: relative;
  }

.dark-mode{
  background-color: #f4f4f4;
  color:#000000;
}





